.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr; 
    align-items: center;
    padding: 90px 50px 96px 50px;
    width: 100%;

    
}

.header__menu {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.header__link {
    text-decoration: underline;
    
}

.header__logo {
    width: 148px;
    height: 105px;
    display: flex;
    justify-content: center;
}

.header__address {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-self: end;
    list-style: none;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    padding-right: 34.4px;
    line-height: 24.3px;
    letter-spacing: 0.18px;

}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: circle;
    gap: 33px;
}

.header__links-list-item {
  list-style-type: none; 
}
.header___link_active {
   text-decoration: none;
}
.overlay {
    position: absolute;
    z-index: -1;
}


.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
}

.cover__title {
    color:white;
    display: grid;
    align-items: center;
    grid-template-columns: 49px 333px 282px 438px;
    grid-template-rows: 153px 138px 61px 10px 55px 150px 100px;
    grid-template-areas:
    ". . . ."
    ". ono . ."
    ". . . ."
    ". . tebe ."
    ". . . ."
    ". . . nado"
    ". . . ."

}

.ono {
    
    grid-area: ono;
    
}

.tebe {
    grid-area: tebe;
}

.nado {
    grid-area: nado;
}

.cover__description {
    color: white;
}
.letter_spacing {
    letter-spacing: 30px;
    width: 339px;
    height: 115px;
    font-size: 100px;
}
.cover__description {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 50px;
}

.cover__description-text {
  word-spacing: 18px;
  margin-right: 28px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3px;
  word-spacing: 0px;
  margin-top: -14px;
  margin-left: 28px;
}

.lots {
    margin: 181px 50px 0px 50px;
}

.card {
    display: flex;
    position:relative;
    z-index: 2;
    flex-direction: column;
    padding: 50px 40px;
    min-height: 700px;
    color: white;
    column-gap: 25px;
    align-items: stretch;
}

.lots__heading {
    width: 121px;
    height: 47px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 15px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.lots__card-list-item {
    min-height: 100%;
}

.card__title {
    display: flex;
    width: 254px;
    height: 82px;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline;
    align-items: end;
}

.card__text {
    display: flex;
    Width: 254px;
    Height: 700px;
    font-size: 20px;
    font-weight: 400;
    align-items: flex-end;
}

.card-link {
    text-decoration: 0;
    height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
    display: flex;
    align-items: flex-end;
}