.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr; 
    align-items: center;
    padding: 90px 50px 96px 50px;
}

.header__menu {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
}

.header__link,
.footer__link {
    text-decoration: underline;
}

.header__logo {
    width: 148px;
    height: 105px;
    display: flex;
    justify-content: center;
}

.header__address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    list-style-type: none;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    padding-right: 34.4px;
    line-height: 24.3px;
    letter-spacing: 0.18px;

}

.header__links-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: circle;
    gap: 33px;
}

.header__links-list-item
{
  list-style-type: none; 
}

.header___link_active,
.footer___link_active {
   text-decoration: none;
}
.overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}


.cover {
 position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center; 
}

.cover__title {
    color:white;
    display: grid;
    align-items: center;
    grid-template-columns: 49px 333px 282px 438px;
    grid-template-rows: 153px 138px 61px 10px 55px 150px 104px;
    grid-template-areas:
    ". . . ."
    ". ono . ."
    ". . . ."
    ". . tebe ."
    ". . . ."
    ". . . nado"
    ". . . ."
}

.ono {
    
    grid-area: ono;
    
}

.tebe {
    grid-area: tebe;
}

.nado {
    grid-area: nado;
}

.cover__description {
    color: white;
}
.letter_spacing {
    letter-spacing: 30px;
    width: 339px;
    height: 115px;
    font-size: 100px;
}
.cover__description {
    display: flex;
    justify-content: space-evenly;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 50px;
}

.cover__description-text {
    word-spacing: 18px;
    margin-right: 27px;
}

.bet-button {
  width: 256px;
  height: 51px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3px;
  margin-top: -14px;
  margin-left: 28px;
}

.lots {
    margin: 175px 24px 0px 24px;
}

.card {
    display: flex;
    position:relative;
    z-index: 2;
    flex-direction: column;
    padding: 48px 40px;
    min-height: 596px;
    color: white;
    align-items: stretch;
}

.lots__heading {
    width: 121px;
    height: 47px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 38px;
    padding-top: 5px;
    padding-bottom: 73px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 25px; 
}

.lots__card-list-item {
    min-height: 100%;
}

.card__title {
    display: flex;
    flex-direction: column;
    width: 254px;
    height: 82px;
    font-weight: 700;
    font-size: 22px;
    text-decoration: underline;
    align-items: end;
}

.card__text {
    display: flex;
    Width: 254px;
    Height: 419px;
    font-size: 20px;
    font-weight: 400;
    align-items: flex-end;
}

.card-link {
    text-decoration: 0;
    height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
    display: flex;
    align-items: flex-end;

}

.lots__look-more-link-text {
    width: 100%;
    padding-left: 40px;
    padding-top: 31px;
    font-size: 20px;
}

.about {
    margin: 152px 24px 159px 31px;
}

.about__column {
  display: grid;
  grid-template-columns: 351px 691px;
}

.about__logo-image {
  display: grid;
  width: 148px;
  height: 114px;
  align-self: center;
  margin-left: 46px
}
.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
  justify-self: center;
  margin-right:32px;
  
}

.about__title {
    font-size: 40px;
    display: flex;
    align-items: center;
    height: 248px;
}

.about__text {
    font-size: 20px;
    padding-bottom: 23px;
}

.footer {
    display: grid;
    grid-template-columns: 348px 348px 304px;
    width: 100%;
    margin: 20px 50px 82px 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-right: 41px;
    padding-top: 1px;
    line-height: 1.4;
    letter-spacing: 1px;
} 

.footer__links-list {
    list-style-type: none;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}

.footer__social-link {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 50px;
    margin-left: 64px;
    
}

.footer__address {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-self: start;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;

}

